<div class="wrap">
    <h1>Configuración</h1>
    <p>Página de configuración de Socomarca.</p>
</div>

<table class="form-table">
	<tbody>
        <tr>
            <th>
                Validar conexión RandomERP
            </th>
            <td>
                <a class="button" href="#" id="sm_validate_connection">Validar conexión</a>
                <span id="sm_validate_connection_result"></span>
            </td>
        </tr>
        <tr>
            <th>
                Entidades
            </th>
            <td class="sm_sync" data-action="sm_get_entities">
                <a class="button" href="#">Obtener entidades</a>
                <span class="sm_sync_result"></span>
                <span class="sm_sync_progress">
                    <div class="sm_sync_progress_bar">
                        <span class="sm_sync_progress_bar_text">100/700</span>
                        <div class="sm_sync_progress_bar_fill"></div>
                    </div>
                </span>
            </td>
        </tr>
    </tbody>
</table>